@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Tajawal:wght@300;400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden!important;
  margin: 0;
  padding: 0;
  background-color: #F8F6EA;
  position: relative;
  overflow-x: hidden;
}

*{
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
}


body::-webkit-scrollbar {
    width: 8px;
}
body.thin::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #2B403B;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #2B403B;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wjvqec');
  src:  url('../fonts/icomoon.eot?wjvqec#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wjvqec') format('truetype'),
    url('../fonts/icomoon.woff?wjvqec') format('woff'),
    url('../fonts/icomoon.svg?wjvqec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before {
  content: "\e907";
}
.icon-bank:before {
  content: "\e908";
}
.icon-credit:before {
  content: "\e909";
}
.icon-healthy:before {
  content: "\e901";
}
.icon-cake:before {
  content: "\e906";
}
.icon-pastry:before {
  content: "\e903";
}
.icon-torta:before {
  content: "\e900";
}
.icon-burger:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
  margin-bottom: unset;
  line-height: 1.4;
}

a{
  text-decoration: none !important;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
button:focus {
  outline: none;
}
input:focus {
  box-shadow: none !important;
}
ul {
  padding: 0;
  list-style: none;
}
 iframe, video{
    max-width:100%;
}
p{
  color: #2B403B;
  margin-bottom: 0;
}

.go-top {
  position: fixed;
  bottom: 40px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #312c25;
  color: #fff !important;
  z-index: 2500;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 20px;
}
.go-top:hover {
  background-color: #f5794c;
}

.loader-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #DF4E3A;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
.bounce-one, .bounce-two {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  animation: bounce 2s ease-in-out infinite;
  -webkit-animation: bounce 2s ease-in-out infinite;
}

.bounce-two {
  animation-delay: -1s;
}

@keyframes bounce {
  0%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
  }
  50% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
  }
}

/*** start header section***/
header {
  z-index: 3;
  position: relative;
}
.logo__wrapper {
  padding: 70px 0 30px 0;
}
.logo__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.my__navbar .nav-link {
  text-transform: capitalize;
  color: rgba(43, 64, 59, 0.65);
}
.my__navbar .nav-item.active .nav-link, .my__navbar .nav-link:hover {
  color: rgba(223, 78, 58, 0.65);
}
.navbar-toggler {
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #2B403B;
}
.my__logo img{
  max-width: 132px;
  height: 90px;
}
.lang__link {
  width: 29px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #babfb5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.lang__link:hover {
  background-color: #DF4E3A;
  color: #fff;
}
.mob-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #282828 !important;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 777;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.mob-overlay.active {
  opacity: .85;
  visibility: visible;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.sidebar-wrapper {
  display: none;
}

/*** start intro section***/
.intro__section {
  position: relative;
  padding-inline-start: 408px;
  padding-inline-end: 210px;
  padding-bottom: 70px;
  overflow: hidden;
}
.brand__cloud {
  z-index: 9;
  position: absolute;
  top: 220px;
  background-color: #E0D9BF;
  max-width: 750px;
  padding: 46px 40px;
  padding-inline-start: 140px;
  background-image: url("../images/hla.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 140px;
}
.brand__cloud h2 {
  font-size: 45px;
  color: #DF4E3A;
  font-weight: 500;
  margin-bottom: 38px;
}
.brand__cloud h3 {
  font-size: 33px;
  color: #DF4E3A;
  font-weight: 500;
}
.play__video {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #2B403B;
  font-size: 20px;
  margin-top: 20px;
}
.play__video i {
  font-size: 22px;
  margin-inline-start: 10px;
}
.play__video:hover {
  color: #DF4E3A;
}
.video__vh90{
  padding: 20px;
  height: 90vh;
  width: 90%;
  margin: auto;
}
.video__vh90 iframe{
  height: 100%;
  width: 100%;
}
.main__banner {
  position: relative;
}
.main__banner::before {
  position: absolute;
  content: url("../images/bk.png");
  bottom: -20px;
  z-index: -1;
}
.main__banner, .main__banner .banner__img {
  height: 841px;
  width: 100%;
}
.get__started {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #DF4E3A;
  width: 189px;
  height: 150px;
  line-height: 1.3;
  padding: 20px;
  color: #F8F6EA;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  bottom: -22px;
}
.get__started:hover {
  color: #fff;
}
.arr__img {
  position: absolute;
  top: 35%;
  animation: hingtop 1s linear infinite;
  -webkit-animation: hingtop 1s linear infinite;
}


.kitchens__section {
  padding: 30px 0 120px 0;
  overflow: hidden;
}
.kt__img {
  max-width: 95%;
}
.pt__80 {
  padding-top: 100px;
}
.icons__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icons__card {
  display: flex;
  align-items: center;
}
.icons__card:not(:last-child) {
  margin-bottom: 60px;
}
.icon__img {
  min-width: 130px;
}
.icons__card img {
  max-width: 90px;
  margin-inline-end: 43px;
}
.icons__card span {
  font-size: 20px;
  color: #2B403B;
}
.ght__wrap {
  height: 380px;
  background-image: url("../images/rc.png");
  background-repeat: no-repeat;
  padding: 24px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ght__wrap img {
  max-width: 100%;
  position: relative;
  right: -30%;
}

/*** started section ***/
.started__section {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 70px 0;
  position: relative;
  margin-bottom: 120px;
}

.get__link {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid #fff;
  position: relative;
}
.get__link.hvr-sweep-to-right:before {
  background-color: #DF4E3A !important;
}
.get__arr {
  position: absolute;
  width: 84px;
  top: 10px;
  animation: hingtop 1s linear infinite;
  -webkit-animation: hingtop 1s linear infinite;
}
.started__des {
  padding-inline-start: 113px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.started__des p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

/*** start mission section ***/
.mission__section {
  margin-bottom: 120px;
}
.mission__row {
  display: flex;
  flex-wrap: wrap;
  background-color: #F0ECD3;
}
.pt__118 {
  padding-top: 118px;
}
.miss__img {
  max-width: 51px;
  margin-bottom: 24px;
}
.mission__title {
  font-size: 35px;
  color: #DF4E3A;
}
.mission__des {
  padding-top: 10px;
  padding-bottom: 120px;
}
.mission__des p {
  font-size: 22px;
  color: #2B403B;
  max-width: 700px;
}
.bk__white {
  background-color: #F8F6EA;
}


/*** why section ***/
.why__section {
  background-color: #DF4E3A;
  color: #fff;
  padding: 0 80px 120px 80px;
  position: relative;
}
.why__container {
  position: relative;
  padding-top: 107px;
}
.ask__img {
  position: absolute;
  top: -68px;
  max-width: 201px;
}
.why__title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 29px;
}
.why__section p {
  font-size: 22px;
  font-weight: 400;
  max-width: 80%;
  color: #fff;
}

/*** start features section ***/
.features__section {
  padding: 135px 0;
  padding-bottom: 30px;
}
.feature__card {
  width: 390px;
  padding-bottom: 26px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}
.feat__img {
  height: 100px;
  margin-bottom: 40px;
}
.feat__line {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 35px;
  background-color: #464646;
}
.feature__card p, .feat__name {
  color: #464646;
  font-size: 24px;
}

/*** about section ***/
.about__section {
  padding: 55px 0 120px 0;
  overflow: hidden;
}
.about__images {
  position: relative;
  display: flex;
}
.about__one {
  position: relative;
  width: 404px;
  height: fit-content;
}
.about__one img, .about__two img, .about__three img{
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.about__two {
  width: 90%;
  position: relative;
  top: 50px;
  height: fit-content;
}
.about_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.69);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.about__content {
  padding-top: 120px;
  position: relative;
}
.about__title {
  color: #DF4E3A;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 59px;
  padding-inline-start: 87px;
}
.about__des {
  background-color: rgba(240, 236, 211, 0.9);
  padding: 120px 135px 135px 87px;
  position: relative;
}
.about__des::before {
  position: absolute;
  content: url("../images/rsz_g.png");
  bottom: 0;
  z-index: -1;
}
.about__des p {
  font-size: 26px;
  font-weight: 500;
  color: #464646;
  opacity: 0.8;
}

/*** start icons ***/
.icons__container {
  background-image: url("../images/bk3.png");
  background-size: cover;
  padding: 110px 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.bottom__card {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom__card img {
  height: 86px;
  margin-bottom: 40px;
  display: block;
}
.bottom__card h3 {
  font-size: 22px;
  font-weight: 500;
  color: #E0D9BF;
}
/* footer {
  padding: 114px 0 54px 0;
  color: #464646;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
} */
.footer {
  margin-top: 70px;
}
.footer__wrapper {
  padding: 60px 0;
  color: #fff;
  background-color: #2b403b;
}
.footer__logo, .footer__logo img {
  display: block;
  width: 90px;
}
.copyRights_wrap {
  padding: 20px 0;
  color: #464646;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.footer__liksList {
  padding-top: 30px;
  display: flex;
  align-items: center;
  width: 100%
}
.footer__link {
  display: block;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  margin-inline-end: 50px;
}
.footer__link:hover {
  color: #DF4E3A;
}

/*** contct info modal ***/

.my__modal, .terms__modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  z-index: 9999;
  padding: 87px 0;
  background-color: rgba(248, 246, 234, 0.5);
  backdrop-filter: blur(10px)
}

.modal__container {
  background-color: #fff;
}

.close__modal {
  position: absolute;
  top: 40px;
  color: #1C1C1C;
  width: 44px;
  height: 44px;
  z-index: 99999;
  opacity: 1;
  border: none;
  background-color: transparent;
}

.close__modal img{
  width: 44px;
  height: 44px;
}
.register__wrap {
  padding: 80px 34px 50px 34px;
}
.modal_logo img {
  max-width: 119px;
  margin-bottom: 45px;
}

.modal__title {
  font-size: 22px;
  color: #2B403B;
  margin-bottom: 23px;
}
.my__modal p {
  color: rgba(43, 64, 59, 0.8);
  margin-bottom: 34px;
}
.modal__btn {
  display: block;
  text-align: center;
  color: #DF4E3A;
  font-size: 18px;
  text-transform: capitalize;
  width: fit-content;
  padding: 13px 26px;
  box-shadow: 0 1px 6px rgba(43, 64, 59, 0.45);
  margin-bottom: 45px;
  background-color: #EFECDB;
}

.modal__btn:hover {
  background-color: #DF4E3A;
  color: #fff;
}
.contact__info {
  height: 100%;
  padding: 135px 70px;
  color: #F8F6EA;
  background-color: #2B403B;
  background-image: url("../images/bf.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.contact__title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 70px;
}
.contact__card {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.info__icon {
  display: inline-block;
  margin-inline-end: 56px;
  background-repeat: no-repeat;
}
.phone_icon {
  width: 31px;
  height: 57px;
  background-image: url("../images/phone.svg");
}
.email_icon {
  width: 35px;
  height: 26px;
  background-image: url("../images/mail.svg");
}
.info__num {
  font-size: 20px;
  color: #F8F6EA;
}
.info__num:hover {
  color: #DF4E3A;
}
.overflow__hidden {
  overflow: hidden;
}
.overflow__hidden .my__modal, .overflow__hidden .terms__modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.next__btn {
  background-color: #DF4E3A;
  color: #fff;
  width: 222px;
  margin-top: 41px;
  border: none;
}
.next__btn:hover {
  background-color: #fff;
  color: #DF4E3A;
}
.register__form {
  position: relative;
}
.register__form .form-control {
  padding-inline-start: 0;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 16px;
  color: #2B403B;
  border: none;
  border-bottom: 1px solid rgba(43, 64, 59, 0.2);
  height: 46px;
  margin-bottom: 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.register__form .form-control::placeholder {
  text-transform: capitalize;
  font-size: 16px;
  color: rgba(43, 64, 59, 0.5);
}
.register__form .form-control:focus {
  border-bottom: 1px solid #2B403B;
}
.mid__title {
  font-size: 18px;
  color: #2B403B;
  margin: 32px 0;
}
.check__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.check__relative {
  position: relative;
  margin-inline-end: 20px;
  text-transform: capitalize;
  cursor: pointer;
}
.food__wrap {
  width: 135px;
  height: 51px;
  font-size: 16px;
  color: #2B403B;
  background-color: #F8F6EA;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  justify-content: center;
  line-height: 51px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.food__wrap .ico__icon {
  font-size: 28px;
  margin-inline-end: 10px;
  position: relative;
  top: 8px;
}
.check__input {
  cursor: pointer;
  width: 135px;
  height: 51px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
}
.check__input:checked+.food__wrap {
  box-shadow: inset 0 1px 6px rgba(43, 64, 59, 0.45);
  color: #DF4E3A;
}
.confirm__card {
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.confirm__card img {
  display: block;
  margin: auto;
  height: 236px;
  margin-bottom: 44px;
  animation: circleRotate 0.3s linear;
  -webkit-animation: circleRotate 0.3s linear;
}

.confirm__card p {
  font-size: 28px;
  font-weight: 500;
  color: #2B403B;
}

@keyframes circleRotate {
  0%{
    transform: rotate(10deg)translateY(-30px);
    -webkit-transform: rotate(10deg)translateY(-30px);
    -moz-transform: rotate(10deg)translateY(-30px);
    -ms-transform: rotate(10deg)translateY(-30px);
    -o-transform: rotate(10deg)translateY(-30px);
  }
  100%{
    transform: rotate(0)translateY(0);
    -webkit-transform: rotate(0)translateY(0);
    -moz-transform: rotate(0)translateY(0);
    -ms-transform: rotate(0)translateY(0);
    -o-transform: rotate(0)translateY(0);
  }
}

.work__time {
  font-size: 16px;
  color: rgba(43, 64, 59, 0.5);
  margin-bottom: 27px;
}
.time__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}
.time__select {
  border: none;
  float: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-inline-start: 10px;
  box-shadow: inset 0 1px 6px rgba(43, 64, 59, 0.45);
  font-size: 18px;
  color: #2B403B;
  height: 42px;
  width: 114px;
  padding: 0 8px;
}

.time__col {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #2B403B;
  font-size: 16px;
  margin-inline-end: 30px;
}


/*** start dashboard ***/
.dash__wrapper {
  padding: 32px 0;
}
.dashsidebar {
  background-color: #E0D9BF;
  width: 100%;
  max-width: 134px;
  height: 900px;
  border-radius: 114px;
  -webkit-border-radius: 114px;
  -moz-border-radius: 114px;
  -ms-border-radius: 114px;
  -o-border-radius: 114px;
}
.sidebar__head img {
  width: 100%;
}
.sidebar__content {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__link {
  padding: 30px 0;
  font-size: 26px;
  color: #2B403B;
  text-align: center;
}
.sidebar__link i {
  opacity: 0.4;
}
.sidebar__link:hover i, .dash__pills .nav-link:hover i{
  color: #2B403B;
  opacity: 1;
}
.dash__icon {
  display: inline-block;
  width: 38px;
  height: 35px;
  background-image: url("../images/dashboard.svg");
  background-repeat: no-repeat;
}
.users__icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/users.svg");
  background-repeat: no-repeat;
}
.dashboard__center {
  padding-top: 30px;
}
.dashtop__flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.search__form .form__group {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  height: 50px;
}
.search__form .form-control {
  height: 50px;
  border: 1px solid #E0D9BF;
  border-radius: 6px;
  background-color: transparent;
}
.search__form .form-control::placeholder {
  font-size: 16px;
  color: #2B403B;
  opacity: 0.5;
  text-transform: capitalize;
}
.search__form .form__group .submit__btn {
  position: absolute;
  background-color: transparent;
  color: #E0D9BF;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.search__form label {
  color: rgba(43, 64, 59, 0.5);
  font-size: 15px;
  text-transform: capitalize;
  margin-inline-end: 10px;
}
.dashboard__select {
  width: 100%;
  height: 50px;
  background-color: rgba(224, 217, 191, 0.36);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
  float: none;
  line-height: 50px;
  text-transform: capitalize;
  font-size: 16px;
  color: #2B403B;
  padding-inline: 20px;
}
.nice-select:after {
  border-bottom: 2px solid #2B403B;
  border-right: 2px solid #2B403B;
  height: 8px;
  width: 8px;
}
.nice-select.open .list {
  width: 100%;
}
.datepicker {
  width: 100%;
  height: 50px;
  background-color: rgba(224, 217, 191, 0.36);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
  text-transform: capitalize;
  font-size: 18px;
  color: #2B403B;
  padding-inline: 20px;
}
.input__group {
  position: relative;
}
.calender__icon {
  pointer-events: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.datepicker-panel > ul[data-view="week"] > li, .datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #2B403B;
  cursor: pointer;
  color: #fff;
}
.datepicker-panel > ul > li:hover {
  background-color: #DF4E3A;
  color: #fff;
}
.datepicker-panel > ul > li.highlighted {
  background-color: rgb(43 64 59);
  color: #fff;
}
.datepicker-panel > ul > li.highlighted:hover {
  background-color: #E0D9BF;
  color: #fff;
}
.table__wrapper {
  overflow-y: auto;
}

.dashboard__table .thead  {
  border: none;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
}
.dashboard__table .row {
  margin: 0;
}
.dashboard__table .row>div{
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  color: #2B403B;
}
.dashboard__table .thead .row>div {
  color: rgba(43, 64, 59, 0.5);
}
.collapsed__div {
  display: none;
}

.dashboard__table .twrapper{
  text-transform: capitalize;
  cursor: pointer;
  background: #EFECDB;
  box-shadow: inset 0px 0px 6px #00000029;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #2B403B;
  font-family: 'Tajawal', sans-serif;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.collapsed__div .row:nth-child(odd) {
  color: rgba(43, 64, 59, 0.5);
}
.contacted_span {
  cursor: pointer;
  color: #DF4E3A;
  font-size: 18px;
  width: 133px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(223, 78, 58, 0.2);
  text-transform: capitalize;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.active__color {
  color: #347B5A;
  background-color: rgba(52, 123, 90, 0.21);
}
.pt__30 {
  padding-top: 30px;
}
.login__dropbtn {
  color: #2B403B;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #F8F6EA;
  box-shadow: inset 0px 0px 6px #00000029;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-family: 'Tajawal', sans-serif;
  padding-inline-end: 20px;
}
.login__dropbtn .fa-angle-down{
  font-size: 14px;
}
.drop__img {
  height: 50px;
}
.login__dropbtn.dropdown-toggle::after {
  display: none;
}
.login__dropdown .dropdown-menu {
  width: 100%;
  padding: 0;
}
.login__dropdown .dropdown-item {
  padding: 10px 16px;
}
.login__dropdown .dropdown-item:hover {
  background-color: #E0D9BF;
}
.yellow__card {
  padding: 20px 30px;
  background: #E0D9BF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.side__title {
  font-size: 22px;
  color: rgba(43, 64, 59, 0.7);
  margin-bottom: 10px;
}
.flex__end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgba(43, 64, 59, 0.9);
  font-size: 20px;
}
.flex__end .red__num {
  color: #DF4E3A;
  font-size: 26px;
  margin-inline-end: 9px;
  font-weight: 500;
}
.grey__num {
  font-size: 22px;
  margin-inline-end: 9px;
  font-weight: 500;
}
.bk__site {
  background-image: url("../images/b2.png");
  margin-bottom: 40px;
}
.rg__site {
  background-image: url("../images/b1.png");
}
.typCusTitle {
  margin: 14px 0;
  font-size: 17px;
  text-decoration: underline;
  width: fit-content;
}
.orgColtiTle {
  color: #EC933A;
}
.greColtiTle {
  color: #00B107;
}
.oBColtiTle {
  color: #E06C2F;
}
.redColtiTle {
  color: #FF0000;
}
.grColtiTle {
  color: #2B403B;
}
.part__icon {
  height: 20px;
  margin-inline-end: 6px;
}
.mr__26 {
  margin-inline-end: 26px;
}
.flex__icons {
  display: inline-flex;
}


/*** start login page ***/
.login__wrapper__page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.login__card {
  padding: 70px 104px;
  background-color: #F8F6EA;
  position: relative;
}
.login__card:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 224px;
  height: 239px;
  opacity: 0.7;
  background-image: url("../images/bf.png");
  background-repeat: no-repeat;
  background-size: 220px;
  bottom: 0;
}
.login__logo {
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 16px;
}
.login__logo img {
  width: 142px;
}
.login__title {
  color: #2B403B;
  font-size: 25px;
  text-align: center;
  margin-bottom: 37px;
}
.login__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #DF4E3A;
  color: #fff;
  width: 222px;
  margin: auto;
  margin-top: 55px;
  font-size: 24px;
  text-transform: capitalize;
  padding: 7px 26px;
  box-shadow: inset 0 1px 6px rgba(43, 64, 59, 0.45);
}
.terms__label {
  margin-top: 46px;
  color: #2B403B;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.agree__des::first-letter {
  text-transform: capitalize;
}
.terms__link {
  color: #2B403B;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline !important;
  margin-inline-start: 4px;
}
.terms__link:hover {
  color: #DF4E3A;
}
.terms__check {
  width: 26px;
  height: 26px;
  border: 1px solid #2B403B;
  border-radius: 5px;
  margin-inline-end: 18px;
}

/*** start terms & conditions page ***/
.conditions__section {
  padding: 36px 0 109px 0;
}
.conditions__container {
  position: relative;
  padding: 40px 50px;
  background-color: rgba(43, 64, 59, 0.05);
}
.conditions__container p {
  font-size: 18px;
  color: #2B403B;
  margin-bottom: 30px;
}
.button__wrapper {
  margin-top: 40px;
  display: flex;
}
.terms__btn {
  width: 222px;
  height: 59px;
  box-shadow: inset 0px 2px 6px #2B403B46;
  border: 1px solid #DF4E3A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: capitalize;
}
.terms__btn:hover {
  color: #fff;
  border: 1px solid #2B403B;
}
.white__btn {
  color: #DF4E3A;
  background-color: transparent;
  margin-inline-end: 32px;
}
.orang__btn {
  color: #fff;
  background-color: #DF4E3A;
}
.hvr-bounce-to-right:before {
  background: #2B403B;
}

/*** activation code modal ***/
.active__code__card {
  padding-top: 90px;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.active__code__card h5 {
  font-size: 22px;
  color: rgba(43, 64, 59, 0.73);
  margin-bottom: 50px;
}
.code__flex {
  display: flex;
  justify-content: center;
}
.code__input {
  width: 74px;
  height: 74px;
  border: 1px solid rgba(43, 64, 59, 0.47);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin: 0 13px;
  text-align: center;
  color: #2B403B;
  font-size: 40px;
}
.border__none {
  border: none;
}

/*** start jobs page ***/
.jobs__section {
  padding: 36px 0;
  position: relative;
}
.d__flex {
  display: flex;
  flex-wrap: wrap;
}
.file__group {
  padding: 15px;
  font-size: 19px;
  color: #B7AE8A;
  position: relative;
  background-color: rgba(224, 217, 191, 0.4);
  height: 70px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px 0px 6px #00000029;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.mb__44 {
  margin-bottom: 30px;
}
.file__group .lg__control {
  z-index: 3;
  opacity: 0;
  width: 100%;
  position: absolute;
  height: 58px;
}
.icon__user {
  color: #B7AE8A;
  cursor: pointer;
  height: 50px;
}
.cv__group {
  text-transform: capitalize;
  font-size: 19px;
  color: #2B403B;
  position: relative;
  background-color: rgba(224, 217, 191, 0.4);
  padding: 15px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px 0px 6px #00000029;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.sm__control {
  width: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 58px;
}
.upload__img {
  cursor: pointer;
  height: 24px;
}
.jobs__from .form-control {
  max-width: 80%;
}
.jobs__from .dashboard__select {
  max-width: 90%;
  background-color: rgba(224, 217, 191, 0.8);
  margin-bottom: 44px;
}
.mt__78 {
  margin-top: 78px;
}
.relative__group {
  position: relative;
}
.abs__label {
  text-transform: capitalize;
  font-size: 16px;
  color: rgba(43, 64, 59, 0.5);
  padding-top: 10px;
  margin-bottom: 0;
  display: none;
}
.relative__label {
  display: block !important;
}

/*** new style ***/
.dash__pills {
  flex-direction: column;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: transparent;
}
.coll__des {
  font-size: 16px;
  color: #2B403B;
  background-color: rgba(224, 217, 191, 0.8);
  max-width: 375px;
  padding: 19px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.upload__icon {
  display: inline-block;
  width: 25px;
  height: 22px;
  background-image: url("../images/export.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  margin-inline-start: 10px;
}
.file__span {
  cursor: pointer;
  color: #2B403B;
  font-size: 15px;
  width: 120px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F6EA;
  text-transform: capitalize;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.dash__inner__pills {
  padding: 20px 40px;
}
.dash__inner__pills .nav-link {
  color: rgba(43, 64, 59, 0.42);
  padding: 0 40px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 22px;
}
.nav-pills.dash__inner__pills .nav-link.active,
 .nav-pills.dash__inner__pills .show>.nav-link {
  color: #DF4E3A;
  text-decoration: underline !important;
 }
 .dash__pills .nav-link i {
  opacity: 0.4;
 }
 .dash__pills .nav-link.active i {
  opacity: 1;
 }
 .wide__dahboard {
  width: 1400px;
 }
 .search__form {
  width: 100%;
}
.mb__66 {
  padding: 0;
  margin-bottom: 46px;
}
.mb__66 .nav-link {
  padding: 0 15px;
  padding-inline-end: 40px;
}
.before__label {
  display: block;
  text-transform: capitalize;
  font-size: 16px;
  color: rgba(43, 64, 59, 0.5);
  padding-top: 20px;
  margin-bottom: 30px;
}
.type__label {
  color: #2B403B;
  font-size: 16px;
  text-transform: capitalize;
  margin-inline-end: 26px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.type__label input {
  width: 18px;
  height: 18px;
  margin-inline-end: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.jobs__textarea {
  display: block;
  width: 100%;
  resize: none;
  min-height: 200px;
  background-color: rgba(224, 217, 191, 0.3);
  border: none;
  margin-top: 30px;
  padding: 13px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.jobs__textarea::placeholder {
  color: rgba(43, 64, 59, 0.48);
  font-size: 16px;
  text-transform: capitalize;
}
.relative__textarea {
  position: relative;
  width: 90%;
  margin: auto;
}
.abs__value {
  position: absolute;
  bottom: 15px;
  color: #2B403B;
  font-size: 18px;
}
.alert-danger {
  width: fit-content;
  color: #dc3545;
  background-color: rgba(248, 215, 218, 0.2);
  border: none;
  font-size: 15px;
  margin: auto;
}
.alert-danger li {
  padding: 3px;
}
.option__none {
  display: none;
}
.dashboard__table .row>div.p-0 img {
  height: 70px;
  width: 73px !important;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/*** new style ***/
.dashboard__dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__dropdown .dropdown-toggle::after {
  display: none;
}
.dashboard__dropdown .dropdown-menu {
  padding: 0;
  background-color: #2B403B;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.dashboard__dropdown .dropdown-item {
  font-size: 16px;
  color: #E0D9BF;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.dashboard__dropdown .dropdown-item:hover {
  background-color: #000;
  color: #fff;
}
.dropdown__icon {
  margin-inline-end: 16px;
  font-size: 20px;
}
.dropdown-divider {
  border-top: 1px solid #26322f;
  width: 80%;
  margin: 10px auto;
}
.dashboard__dropdown .fa-trash-can {
  color: #DF4E3A;
}
.dashboard__dropdown .dropdown-item:hover .fa-trash-can {
  color: #E0D9BF;
}
.report__wrapper {
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #E0D9BF;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 26px 16px;
  margin-bottom: 20px;
}
.report__title {
  color: #DF4E3A;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 28px;
  cursor: pointer;
}
.report__thumb {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-inline-end: 16px;
}
.add__repolink {
  text-decoration: underline;
}
.report__card {
  padding: 26px 40px;
  background-color: #EFECDB;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-bottom: 16px;
}
.repo_cardheader > form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.repo__name {
  font-weight: 500;
  color: #2B403B;
  font-size: 18px;
  text-transform: capitalize;
  margin-inline-end: 16px;
}
.repo_date {
  font-size: 14px;
  color: rgba(43, 64, 59, 0.48);
  margin-inline-end: 10px;
}
.cardrepo__end {
  display: flex;
  align-items: center;
}
.edit__icon {
  margin-inline-end: 26px;
}
.trash__icon {
  color: #DF4E3A;
  cursor: pointer;
}
.edit__icon {
  cursor: pointer;
}
.report__des {
  padding-inline-end: 30px;
  color: #2B403B;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.show__dropdown {
  display: block;
  position: absolute;
  transform: translate3d(-96px, 25px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
.report__container {
  background-color: #2B403B;
  padding: 60px 26px;
  position: relative;
}
.report__select {
  width: 180px;
  height: 50px;
  background-color: #EFECDB;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
  float: none;
  line-height: 50px;
  text-transform: capitalize;
  font-size: 16px;
  color: #2B403B;
  padding-inline: 20px;
  margin-bottom: 40px;
}
.full__textarea {
  width: 100%;
  margin-bottom: 40px;
}
.full__textarea .jobs__textarea {
  background-color: rgba(239, 236, 219, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: #E0D9BF;
}
.full__textarea .abs__value {
  color: #E0D9BF;
}
.reportModal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  z-index: 9999;
  padding: 87px 0;
  background-color: rgba(248, 246, 234, 0.5);
  backdrop-filter: blur(10px)
}
.overflow__hidden .reportModal {
  overflow-x: hidden;
  overflow-y: auto;
}
.mfade__in {
  display: block !important;
  transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
.report__btn {
  background-color: #DF4E3A;
  color: #fff;
  width: 180px;
  border: none;
  height: 50px;
  font-size: 18px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report__btn:hover {
  background-color: #fff;
  color: #DF4E3A;
}
.save__btn {
  margin-top: 40px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  display: none;
}

/*** start FAQs page ***/
.faqs__card {
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid rgba(43, 64, 59, 0.1);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.faqs__title {
  font-size: 20px;
  font-weight: 500;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: 0 1px 6px rgba(43, 64, 59, 0.2);
}
.collapse__btn__faqs {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 36px;
  color: #DF4E3A;
}
.collapse__btn__faqs.collapsed {
  color: #2B403B;
}
.faqs__title i {
  font-size: 22px;
  font-weight: 600;
}
.faqs__content {
  padding: 20px 40px;
  font-size: 16px;
  color: #2B403B;
}
/*** start payment page ***/
.payment__form {
  padding-bottom: 70px;
}
.pay__title {
  display: flex;
  align-items: center;
  color: #2B403B;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 60px;
}
.visa__img {
  height: 31px;
  margin-inline-end: 16px;
}
.payMethod__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.checkPay__wrap {
  position: relative;
  width: 229px;
  height: 164px;
  padding: 0;
  border: 2px solid transparent;
}
.mycheckRadio {
  background-color: rgba(232, 227, 217, 0.8);
  border: 2px solid rgba(232, 227, 217, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
}
.payemnt__icon {
  display: block;
  font-size: 34px;
  margin-bottom: 18px;
}
.checkPay__title {
  font-size: 22px;
  text-transform: capitalize;
}
/* .radioPayment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.radioPayment:checked ~ .mycheckRadio {
  border: 2px solid rgba(223, 78, 58, 0.35);
  color: #DF4E3A;
  background-color: transparent;
} */

.nav-pills .checkPay__wrap.active {
  border: 2px solid rgba(223, 78, 58, 0.35);
  color: #DF4E3A;
  background-color: transparent;
}
.nav-pills .checkPay__wrap.active .checkPay__title,
.nav-pills .checkPay__wrap.active .payemnt__icon{
  color: #DF4E3A;
}

.mdpay_title {
  color: #2B403B;
  font-size: 24px;
  margin-bottom: 36px;
}
.payment__label {
  display: block;
  text-transform: capitalize;
  font-size: 18px;
  color: rgba(43, 64, 59, 0.63);
  margin-bottom: 16px;
}
.payment_group {
  position: relative;
  height: 60px;
  width: 100%;
  margin-bottom: 24px;
}
.payment__input {
  height: 60px;
  width: 100%;
  background-color: rgba(43, 64, 59, 0.1);
  border: none;
  padding: 16px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.icon__visa {
  width: 35px;
  height: 23px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.icon__visa::before {
  content: url("../images/visa2.svg");
}
.icon__askk {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.icon__askk::before {
  content: url("../images/ask.svg");
}
.payment__input.nice-select {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: rgba(43, 64, 59, 0.8);
  background-color: rgba(43, 64, 59, 0.2);
  font-size: 17px;
}
.credits__cardsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
.creditCard {
  display: flex;
  align-items: center;
  position: relative;
}
.credit__img {
  display: inline-block;
  height: 51px;
  margin-inline-end: 16px;
  opacity: 0.6;
}
.checkIcon {
  width: 29px;
  height: 29px;
  opacity: 0;
}
.visaRadio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.visaRadio:checked ~ .opacityMD {
  opacity: 1;
}
.bankInfoCard {
  background-color: #F0EFE6;
  box-shadow: inset 0px 0px 6px #00000029;
  padding: 36px;
}
.msrfImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  margin: auto;
  margin-bottom: 10px;
}
.msrfImg img {
  width: 90%;
}
.accountWRap:not(:last-of-type) {
  margin-bottom: 26px;
}
.accountNamee {
  color: rgba(43, 64, 59, 0.68);
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.accountDt {
  color: #2B403B;
  font-size: 19px;
  word-break: break-all;
}
.uploadFormx {
  margin-top: 60px;
}
.uploadTitle {
  font-size: 20px;
  color: #DF4E3A;
  margin-bottom: 26px;
}
.uploadFormx .form-control {
  padding-inline-start: 0;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 16px;
  color: #2B403B;
  border: none;
  border-bottom: 1px solid rgba(43, 64, 59, 0.2);
  height: 60px;
  margin-bottom: 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.uploadFormx .form-control::placeholder {
  text-transform: capitalize;
  font-size: 16px;
  color: rgba(43, 64, 59, 0.5);
}
.uploadFormx .form-control:focus {
  border-bottom: 1px solid #2B403B;
}
.uploadLabel {
  color: rgba(43, 64, 59, 0.5);
  font-size: 16px;
  margin-top: 20px;
  text-transform: capitalize;
}
.uploadInput {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(43, 64, 59, 0.2);
  height: 60px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 17px;
  color: #2B403B;
}

/*** start package page ***/
.package__section {
  position: relative;
}
.package__wrapper {
  padding: 40px 30px;
  background-image: url("../images/ky.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.packTitle {
  display: flex;
  align-items: flex-end;
  color: #DF4E3A;
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.packImgThumb {
  height: 53px;
  margin-inline-end: 16px;
}
.packageCont {
  padding: 20px 10px 20px 60px;
  font-size: 16px;
  color: rgba(43, 64, 59, 0.9);
}
.packageCont li {
  margin-bottom: 10px;
  list-style-position: inside;
}
.flexEndPack {
  padding: 20px 0 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flexEndPack p {
  color: #2B403B;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

/*** services page ***/
.servicesPage_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.services__section {
  position: relative;
}
.myFlex__row {
  display: flex;
  flex-wrap: wrap;
}
.servThumb_col {
  padding-top: 240px;
  background-color: #F8F6EA;
  padding-bottom: 90px;
}
.servImgFluid {
  max-width: 90%;
  position: relative;
  z-index: 2;
}
.servEtablish_col {
  position: relative;
  height: 100%;
  background-color: #fff;
  padding-bottom: 160px;
  padding-inline-start: 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.absolute__Div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 260px;
  background-color: #2B403B;
  background-image: url("../images/srv.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.servTitleLg {
  font-size: 24px;
  color: #2B403B;
  margin-bottom: 35px;
}
.servDesmd {
  color: rgba(43, 64, 59, 0.8);
  font-size: 20px;
  max-width: 410px;
}
.identity__section {
  background-color: #fff;
}
.identThumb_col {
  padding-top: 160px;
  padding-bottom: 90px;
}
.menuDesign__section {
  position: relative;
}

.designmThumb_col {
  background-color: #fff;
  padding-top: 110px;
  padding-bottom: 80px;
}
.bk__yellow {
  background-color: #F8F6EA;
}
.mOperating__section {
  background-color: #2B403B;
}
.servOperating_col {
  height: 100%;
  padding-bottom: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.col__yellow .servTitleLg,  .col__yellow .servDesmd{
  color: #F8F6EA;
}
.operatingThumb_col {
  padding-top: 70px;
  padding-bottom: 110px;
}
.servSupport_col {
  height: 100%;
  padding-bottom: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.supportThumb_col {
  padding-top: 54px;
  padding-bottom: 210px;
}
.col__orange .servTitleLg,  .col__orange .servDesmd{
  color: #DF4E3A;
}
.mSupport__section {
  background-color: #2B403B;
  background-image: url("../images/bky.png");
  background-size: cover;
}
.servPlatform_col {
  height: 100%;
  padding-bottom: 224px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.w__400 {
  max-width: 400px;
}
.platformThumb_col {
  padding-bottom: 70px;
}
.mfinancial__section {
  position: relative;
  background-color: #fff;
}
.financialThumb_col {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pb__230 {
  padding-bottom: 230px;
}
.fromToThumb_col {
  padding-top: 124px;
  padding-bottom: 124px;
  background-color: #fff;
}
.pb__290 {
  padding-bottom: 290px;
  background-color: #F8F6EA;
}
.fromTo__section {
  position: relative;
  background-color: #F8F6EA;
}

/*** dashboard new style ***/

.status__icon {
  width: 16px;
  height: 16px;
  border-radius: 25px 0px 0px 25px;
}
.orangNsts {
  background-color: #EC933A;
}
.greenPsts {
  background-color: #00B107;
}
.orangBCsts {
  background-color: #E06C2F;
}
.redDsts {
  background-color: #FF0000;
}
.blackUsts {
  background-color: #2B403B;
}
.invoice__link {
  width: 240px;
  height: 70px;
  background-color: #2B403B;
  border: none;
  border-radius: 46px 6px 6px 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E06C2F;
  font-size: 16px;
  text-transform: capitalize;
}
.invoice__link img {
  width: 46px;
  margin-inline-end: 10px;
}
.invoice__link:hover {
  color: #fff;
}
.mt__40 {
  margin-top: 40px;
}
/*** start invoice page ***/
.invoiceWrapper {
  background-color: #EFECDB;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 30px 20px;
}
.invcTopFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.inv__numb {
  display: flex;
  align-items: center;
  color: #2B403B;
  font-size: 24px;
}
.inv__numb small {
  color: rgba(43, 64, 59, 0.5);
  font-size: 14px;
  margin-inline-end: 8px;
}
.printDwnFlx {
  display: flex;
}
.print__link {
  margin-inline-end: 60px;
}
.newCBtn, .specFCBtn {
  display: block;
  color: #DF4E3A;
  font-weight: 500;
  border: none;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  margin-bottom: 20px;
}
.mb__14 {
  margin-bottom: 14px;
}
label.mdFtitle {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-inline-end: 0;
  margin-bottom: 16px;
  text-transform: lowercase;
}
label.mdFtitle::first-letter {
  text-transform: capitalize;
}
.timeCol_relative {
  position: relative;
}
.down__absBtn {
  position: absolute;
  color: #2B403B;
  top: 12px;
  pointer-events: none;
  font-weight: 500;
}
.w__70 {
  width: 70%;
}
.timeInput_md {
  height: 44px;
  padding-inline: 14px;
}
.dashboard__select.timeInput_md {
  line-height: 44px;
}
.timeInput_md::placeholder {
  color: #2B403B;
  font-size: 17px;
}
.w__25 {
  width: 25%;
  margin-inline-start: 5%;
}
.mb__20 {
  margin-bottom: 20px;
}
.input__bold::placeholder {
  font-weight: bold;
}
.areaWidth__100 {
  width: 100%;
}
.invoice__textarea {
  border: 1px solid #E0D9BF;
  background-color: transparent;
}
.invoice__details {
  background: #F8F6EA;
  padding: 16px;
  border-radius: 0px 6px 6px 6px;
  -webkit-border-radius: 0px 6px 6px 6px;
  -moz-border-radius: 0px 6px 6px 6px;
  -ms-border-radius: 0px 6px 6px 6px;
  -o-border-radius: 0px 6px 6px 6px;
}
.invoice_col {
  padding: 10px;
}
.inovice_label {
  display: block;
  font-size: 16px;
  color: rgba(43, 64, 59, 0.5);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.invoice__info {
  display: block;
  font-size: 16px;
  color: #2B403B;
  font-weight: 500;
  word-wrap: break-word;
}
.alignFlex__end {
  display: flex;
  justify-content: flex-end;
}
.newCustFrm_wrap {
  z-index: 3;
  padding: 41px;
  background-color: #F8F6EA;
  border-radius: 0px 6px 6px 6px;
  -webkit-border-radius: 0px 6px 6px 6px;
  -moz-border-radius: 0px 6px 6px 6px;
  -ms-border-radius: 0px 6px 6px 6px;
  -o-border-radius: 0px 6px 6px 6px;
}
.rltvInvoice__wrapper {
  position: relative;
}
.newCustFrm_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transform-origin: top left;
}
.openCinform_wrap {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.newCustFrm_wrap::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 13px;
  top: 6px;
  left: -10px;
  background-color: #F8F6EA;
  transform: rotate(59deg);
  -webkit-transform: rotate(59deg);
  -moz-transform: rotate(59deg);
  -ms-transform: rotate(59deg);
  -o-transform: rotate(59deg);
}

.ctreatInvoice__wrpper {
  overflow-y: auto;
  padding: 26px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #E0D9BF;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.invcMd__link {
  font-family: 'Tajawal', sans-serif;
  display: flex;
  align-items: center;
  color: #DF4E3A;
  font-size: 24px;
  text-transform: capitalize;
  text-decoration: underline !important;
  margin-bottom: 28px;
}
.invcMd__link img {
  width: 48px;
  margin-inline-end: 14px;
}
.invcMd__link:hover {
  color: #DF4E3A;
}
.dashInvoice__table .twrapper{
  text-transform: capitalize;
  cursor: pointer;
  background: #EFECDB;
  margin-bottom: 20px;
  font-size: 16px;
  color: #2B403B;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.dashInvoice__table .row.collapse__table {
  margin: 0;
}
.dashInvoice__table .row.collapse__table>div {
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  word-break: break-word;
  color: #2B403B;
}
.dashInvoice__table .row.collapse__table>div:first-child {
  font-weight: 500;
}
.prntBk__link {
  margin: 0 26px;
}
.crt-nav__link img {
  height: 20px;
}
.terms__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.inv__mdTitle {
  color: rgba(43, 64, 59, 0.45);
  font-size: 22px;
}